@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto:wght@500&family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}


.display{
    display: flex;
}

/* FOOTER */
footer{
    background-color: #000;
    padding: 3rem 10rem;
}

.foot-head{
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    border-bottom: 2px solid #00a2c5;
}

.middle{
    border-top: 2px solid #fff;
    margin-top: 30px;
    padding-top: 50px;
}

.foot-cont{
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    border-bottom: 2px solid ;
}

li{
    list-style: none;
    font-family: 'Gruppo', cursive; 
    font-size: 19px;
    font-weight: bolder;
    cursor: pointer;
    color: #999;
}
li:hover{
    color: #fff;
}
.foot-btn{
margin: 15px 0;
padding: 4px 12px;
background-color: transparent;
color: #00a2c5;
border:1px solid #00a2c5;
font-family: 'Gruppo', cursive; 
}

.foot-btn:hover{
    color: #fff;
    background-color: #00a2c5;
}

.foot-p{
    font-family: 'Gruppo', cursive; 
    font-size: 19px;
    font-weight: bolder;
    color: #999;
    cursor: pointer;
}
.foot-p:hover{
    color: #fff;
}
.foot-email{
    font-family: 'Gruppo', cursive; 
    font-size: 25px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
}
.foot-email:hover{
    color: #fff;
}

.copy{
    color: #999;
    font-family: 'Gruppo', cursive; 
    padding: 5rem 0 15rem 0;
}

.fa-brands{
    color: #fff;
    padding: 13px;
    font-size: 20px;
    background-color: transparent;
}

.fa-brands:hover{
    font-size: 25px;
}

/* BUILDING*/
.locations{
    display: flex;
}

.main, .mini{
    padding-top: 20px;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-size: 30px;
}

.location-p{
    font-family: 'Gruppo', cursive; 
    width: 200px;
    padding-left: 50px;
}

.dubai{
    width: 300px;
    text-align: center;
}

.poland{
    width: 300px;
    text-align: center;
}

.ukraine{
    width: 300px;
    text-align: center;
}

.us{
    width: 300px;
    text-align: center;
}
.building{
    padding: 10rem 10rem;
    background-color: #f6f6f6;
}

 /* SERVICES */


 .service{
     padding: 5rem 15rem;
 }

 .service-head{
    font-family: 'Staatliches', cursive;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 30px;
 }

 .service-text, .budget-text{
    font-family: 'Gruppo', cursive;
    font-weight: 500;
 }

.agreement{
    padding-top: 50px;
}
span{
    color: #00a2c5;
}
.agree{
    display: flex;
    padding-top: 30px;
}

.submit-block{
    margin: 30px 0 40px 0;
    padding: 0;
}
.submit-button{
   background-color: #00a2c5;
   color: #fff;
   font-family: 'Staatliches', cursive;
   padding: 15px;
   border-radius: 15px;
   width: 200px;
}
.mlx-bold{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}
/* OPERATING-SYSTEM */
.os{
    padding: 5% 10%;
    text-align: center;
}   
.os-heading{
    text-align: left;
    font-family: 'Staatliches', cursive ;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: 5px;
} 
.ios, .web, .android{
    border: 2px dotted #999;
    padding: 10px 10px 0;
    font-size: 20px;
}
#web, #ios, #android{
    width: 23.33rem;
    margin-right: 15px;
}
 .android:active{
    border: 5px solid #00a2c5;
}
.web:active{
    border: 5px solid #00a2c5;
}
.ios:active{
    border: 5px solid #00a2c5;
}

/* LOGIN */
.login{
    padding: 10rem 15rem;
}
.login-heading{
    font-family: 'Staatliches', cursive ;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: 3px;
}
#name{ 
margin-bottom: 20px;
padding: 15px;
width: 600px;
border: 1px solid #999;
border-radius: 3px;
}
#name:focus{
outline: none;
border: 1.5px solid #00a2c5;
}

#email{
    margin-bottom: 20px;
    padding: 15px;
    width: 250px;
    border: 1px solid #999;
    border-radius: 3px;  
}
#email:focus{
    outline: none;
    border: 1.5px solid #00a2c5;
}

#number{
    margin-bottom: 20px;
    padding: 15px;
    width: 250px;
    border: 1px solid #999;
    border-radius: 3px;  
}
#number:focus{
    outline: none;
    border: 1.5px solid #00a2c5;
}

#message{
    margin-bottom: 20px;
    padding: 15px;
    width: 600px;
    border: 1px solid #999;
    border-radius: 3px;  
}
#message:focus{
    outline: none;
    border: 1.5px solid #00a2c5;
}
.submit-button:hover{
    background-color: transparent;
    color: #00a2c5;
}

/* TOP */
.top{
    background-color: rgba(255,255,255,.98);
    position: fixed;
    width: 100rem;
    box-shadow: 0 3px 5px -3px rgba(0,0,0,.5);
    padding: 20px 25px;
}

.logo{
    width: 80px;
}

.fa-brands{
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    border-radius: 100%;
    padding: 10px;
    margin: 5px;
}

.container-fluid{
    font-family: 'Staatliches', cursive ;
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 3px;
}

.nav-link{
    margin-left: -1200px;
}

  @media(max-width: 768px) {
    /* For mobile phones: */
    *{
        /* color: green; */
    }
     .display{
        display: flex;
        flex-direction: column;
    }
    #web{
        margin-bottom: 10px;
        width: 500px;
    }
    #android{
        width: 500px;
        margin-bottom: 10px;
    }
    #ios{
        width: 500px;
        margin-bottom: 10px;
    }
    
    footer{
        padding: 1rem 5rem;
    }
    .building{
        padding: 1rem 10rem;
        display: flex;
        flex-direction: column;
    }
    
    .locations{
        display: flex;
        flex-direction: column;
    }
    .dubai{
        margin-bottom: 40px;
    }
    .us{
        margin-bottom: 40px;
    }

    .service{
        padding: 2rem 4rem;
    }
    .os{
        padding: 2rem 5rem;
    }
    .login{
        padding: 7rem 2rem;
    }
    
} 

@media(max-width: 500px) {
    /* For mobile phones: */
    /* *{
         color: green; 
    } */

     .display{
        display: flex;
        flex-direction: column;
    }
    #web{
        margin-bottom: 10px;
        width: 370px;
    }
    #android{
        width: 370px;
        margin-bottom: 10px;
    }
    #ios{
        width: 370px;
        margin-bottom: 10px;
    }
    
    footer{
        padding: 1rem 5rem;
    }
    .building{
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
    }
    
    .locations{
        display: flex;
        flex-direction: column;
    }
    .dubai{
        margin-bottom: 40px;
    }
    .us{
        margin-bottom: 40px;
    }

    .service{
        padding: 2rem 1.3rem;
    }
    .os{
        padding: 2rem 3rem;
    }

    #name{
        width: 400px;
    }

    #message{
        width: 400px;
    }

    .login{
        padding: 7rem 2rem;
    }
    
} 

@media(max-width: 400px) {
    /* For mobile phones: */
     *{
         color: green; 
    } 

     .display{
        display: flex;
        flex-direction: column;
    }
    #web{
        margin-bottom: 10px;
        margin-left: 30px;
        width: 210px;
    }
    #android{
        width: 210px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    #ios{
        margin-left: 30px;
        width: 210px;
        margin-bottom: 10px;
    }
    
    footer{
        padding: 1rem 2rem;
    }
    .building{
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
    }
    
    .locations{
        display: flex;
        flex-direction: column;
    }
    .dubai{
        margin-bottom: 40px;
    }
    .us{
        margin-bottom: 40px;
    }

    .service{
        padding: 2rem 1.3rem;
    }
    .os{
        padding: 2rem 1.7rem;
    }

    #name{
        width: 270px;
    }

    #message{
        width: 250px;
    }

    .login{
        padding: 7rem 2rem;
    }
    
    .top{
        width: 300px;
    }
} 